<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Task</title>
        <style type="text/css">

        </style>
    </head>
    <body style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 0px; height: 100vh; width: 100vw;">
        <form style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 30px;" action="verify/" method="post">
            {% csrf_token %}
            <h1>Add Task</h1>
            <label>Task</label>
            <input name="task" type="text"/>
            <label>Deadline</label>
            <input name="deadline" type="datetime-local"/>
            <button type="submit">Add</button>
        </form>
    </body>
</html>